* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'cwTeXYen', sans-serif; }

::-moz-selection {
  background-color: #ffc80054; }

::selection {
  background-color: #ffc80054; }

.cover_loading {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
  z-index: 9999; }
  .cover_loading .spinner-border {
    z-index: 9999; }

.intro_video {
  background: #DAEAF9;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9998;
  width: 100%;
  height: 100vh; }

.navbar .nav-item {
  text-align: center; }

.navbar img {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.navbar.top-nav-collapse img {
  height: 30px; }

@media screen and (max-width: 1200px) {
  .navbar img {
    height: 30px; } }

h2 {
  margin-bottom: 2rem;
  background-image: url("../../assets/img/title_cloud.svg");
  width: 205px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  padding-top: 2.5rem;
  padding-left: 2.4rem;
  z-index: 1;
  font-size: 1.9rem;
  color: #42a2e6; }

@media screen and (min-width: 992px) {
  section {
    padding: 3rem; } }

@media screen and (max-width: 992px) {
  section {
    padding: 2rem 0 5rem 0; } }

section .inner-container {
  background-color: #fff;
  padding: 3.5rem;
  border-radius: 10px; }
  @media screen and (max-width: 992px) {
    section .inner-container {
      padding: 1rem; } }

section#teams .card {
  margin-bottom: 1rem; }

section#sponsors img {
  width: 100px;
  margin-bottom: 10px; }

section#about {
  background-color: #98C9EC; }
  section#about .container video {
    width: 70%; }
    @media screen and (max-width: 992px) {
      section#about .container video {
        width: 100%; } }

section#info {
  background-color: #98C9EC; }

section#land {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#98C9EC), to(#FFF));
  background-image: -webkit-linear-gradient(#98C9EC, #FFF);
  background-image: -o-linear-gradient(#98C9EC, #FFF);
  background-image: linear-gradient(#98C9EC, #FFF);
  min-height: 100vh;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    section#land {
      padding-top: 5rem; } }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    section#land {
      padding-top: 15rem; } }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    section#land {
      padding-top: 10rem; } }
  @media screen and (min-width: 1200px) {
    section#land {
      padding-top: 10rem; } }
  section#land .container .drawing {
    display: inline-block;
    position: relative; }
  section#land .container .info_border {
    z-index: 10;
    width: 300px;
    height: 150px;
    left: 13%;
    top: -70px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.5rem 0.2rem 0.2rem 1.5rem; }
    @media screen and (max-width: 992px) and (min-width: 768px) {
      section#land .container .info_border {
        left: 5%;
        top: -275px; } }
    @media screen and (max-width: 768px) {
      section#land .container .info_border {
        left: 2%;
        top: -240px; } }
  section#land .container .logo_float {
    z-index: 4;
    width: 300px;
    left: 13%; }
    @media screen and (max-width: 992px) and (min-width: 768px) {
      section#land .container .logo_float {
        left: 5%;
        width: 200px; } }
    @media screen and (max-width: 768px) {
      section#land .container .logo_float {
        left: 2%;
        width: 150px; } }
  section#land .container .clouds {
    width: 410px;
    float: right;
    right: -38%;
    top: -373px; }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      section#land .container .clouds {
        top: -386px;
        width: 350px;
        right: -436px; } }
    @media screen and (max-width: 992px) and (min-width: 768px) {
      section#land .container .clouds {
        top: -622px;
        width: 350px;
        right: 3%; } }
    @media screen and (max-width: 768px) and (min-width: 576px) {
      section#land .container .clouds {
        top: -622px;
        width: 300px;
        right: 1%; } }
    @media screen and (max-width: 576px) {
      section#land .container .clouds {
        top: -503px;
        width: 300px;
        right: 0; } }
  section#land .container .building {
    z-index: 5;
    width: 550px;
    float: right;
    right: 10%;
    top: 0%;
    -webkit-animation: building-floating 1s infinite alternate ease-in-out both;
    animation: building-floating 1s infinite alternate ease-in-out both; }
    @media screen and (max-width: 992px) and (min-width: 768px) {
      section#land .container .building {
        width: 400px;
        right: 5%;
        top: -100px; } }
    @media screen and (max-width: 768px) and (min-width: 576px) {
      section#land .container .building {
        width: 400px;
        right: 5%;
        top: -56px; } }
    @media screen and (max-width: 576px) and (min-width: 396px) {
      section#land .container .building {
        width: 400px;
        right: 0%;
        top: -56px; } }
    @media screen and (max-width: 396px) {
      section#land .container .building {
        width: 300px;
        right: 0%;
        top: -80px; } }
  section#land .container .plane {
    z-index: 8;
    width: 50px;
    float: right;
    right: -51%;
    top: -373px;
    -webkit-animation: plane-retating 3s infinite alternate ease-in-out both;
    animation: plane-retating 3s infinite alternate ease-in-out both; }
    @media screen and (max-width: 992px) and (min-width: 768px) {
      section#land .container .plane {
        right: -18%;
        top: -664px; } }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      section#land .container .plane {
        right: -22%;
        top: -503px; } }
    @media screen and (min-width: 396px) and (max-width: 576px) {
      section#land .container .plane {
        right: -51%;
        top: -660px; } }
    @media screen and (max-width: 396px) {
      section#land .container .plane {
        right: 30%;
        top: -634px; } }

@-webkit-keyframes plane-retating {
  from {
    -webkit-transform: translate(0rem, 0rem);
    transform: translate(0rem, 0rem); }
  to {
    -webkit-transform: translate(-0.6rem, -2rem);
    transform: translate(-0.6rem, -2rem); } }

@keyframes plane-retating {
  from {
    -webkit-transform: translate(0rem, 0rem);
    transform: translate(0rem, 0rem); }
  to {
    -webkit-transform: translate(-0.6rem, -2rem);
    transform: translate(-0.6rem, -2rem); } }

@-webkit-keyframes building-floating {
  from {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem); }
  to {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem); } }

@keyframes building-floating {
  from {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem); }
  to {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem); } }

footer {
  padding-top: 5rem; }
